<?xml version="1.0"?>
<!--
  Pour plus d’informations sur la configuration de votre application ASP.NET, rendez-vous sur 
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-UrlNotificationCinetPayPayIn-20200505055058.mdf;Initial Catalog=aspnet-UrlNotificationCinetPayPayIn-20200505055058;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--api SIRUS    
    <add key="Apikey" value="dMéIOPQWtKOR89-=SMJR89-=ApGIOPQWníHRE09=HtZ%67REu=cIOPQWPqrO9)50:T=i56%WWVrIOPQWíFánhyui3AInhyuiyBHi56%W[wE{OTU-F|Fkdger%iXIOPQWM3aR89-=jSporyhfaJ}O9)50OKqi56%WhO`qscernáEsewjuorG8UYRMH{DqWeglvod}-=GFDRVRE09=DTS8UYRMpJoIOPQWKy]IOPQW/zo%67RER@à}-=GFè*W}iT_e"/>
    <add key="Cpm_Site_Id" value="GnEIOPQWsQV}-=GFNSWIOPQW,nT8UYRMUxpO9)50áz{RE09="/>-->
    <!--api HT
    <add key = "Apikey1002" value = "f+/O9)50/tP8UYRMmcM8UYRMVYMO9)50tV4IOPQWcDii56%WAE/%67REne#IOPQWI:x%67REul~O9)50P6TIOPQW;DNkdgerWMK%67REíNckdger4t3pttuiyóg%67RE]uvR89-=F-%qscer%rw{OTU-NaýqscerjWp{OTU-aDLRE09=oBJR89-=hCD%67REJa1qWeglp,e8UYRMHju}iT_ew5+}-=GFDcu{OTU-DKí%67REqLo{OTU-KoKRE09=/éH}-=GF" />
    <add key = "Cpm_Site_Id1002" value = "FUy%67REuF~%67REMzT}-=GFCBN8UYRMo!LR89-=*h3IOPQW" />   
    -->
    <!--api CMC ZIANNOUANE  
    <add key = "Apikey1001" value = "/tP8UYRMmcM}-=GFVYM}-=GFtV4%67REcDiR89-=AE/}-=GFne#}iT_eI:xIOPQWul~RE09=P6T{OTU-;DNR89-=WMK8UYRMíNcoryhf4t3RE09=yógi56%W]uv8UYRMF-%{OTU-%rwO9)50NaýRE09=jWpsewjuaDLO9)50oBJpttuihCDi56%WJa1O9)50p,eqWeglHju}iT_ew5+8UYRMDcu8UYRMDKí8UYRMqLoR89-=KoK}iT_e/éH}iT_eSsfO9)50" />
    <add key = "Cpm_Site_Id1001" value = "VD6}iT_eéakRE09=2.,R89-=xj!RE09=95zRE09=Ecw}iT_e" />   
  -->
    <!--api RAOUDA
    <add key = "Apikey1000" value = "w1N8UYRM9R1R89-=EG6O9)50_Ij{OTU-LJ|}-=GFw`!%67RESozIOPQW?[wR89-=f*/}iT_ebPPIOPQWnQMsewjuVbMoryhfu~4%67REMxiqscerB%/RE09=ou#{OTU-IexR89-=vZñO9)50QHT}-=GF;ENoryhfXGKR89-=óWSoryhf4à3IOPQWzmgqWegl]8vO9)50G1%RE09=^Nw%67RENOýRE09=eTpRE09=býLRE09=ovJ}-=GFi+DR89-=" />
    <add key = "Cpm_Site_Id1000" value = "íNc{OTU-4t38UYRMyóg}iT_e]uvRE09=F-%}-=GF%rwIOPQW" />       
    -->
	
    <!--api IPI-->	
    <add key = "Apikey1000" value = "18RR89-=EU0i56%WqNd}iT_eLPsIOPQW/T_8UYRMSñt{OTU-`vé{OTU-Z+?{OTU-ñsJO9)507cGR89-=BYH8UYRM=VY%67REJDb}-=GF@ErsewjuQe=oryhfE:r8UYRMdlù}-=GFT6I%67REkDHoryhfDLEqscersNV}iT_eDpX{OTU-zóa{OTU-%upqWeglG-{RE09=trq{OTU-Na`i56%W.WER89-=VDF8UYRMáBC%67RE2Cdi56%WxaV}-=GF" />
    <add key = "Cpm_Site_Id1000" value = "èHMO9)50ZEJO9)50ýGD}iT_e6W2IOPQWBàfRE09=}muRE09=" />       

	
    <!--<add key="URL" value="https://192.168.1.100:69/ZenithwebClasse.svc/" />-->
     <!-- <add key="URL" value="http://localhost:2391/ZenithwebClasse.svc/"/>-->  
    <!--<add key="URL" value="http://sermob.askrproducts-services.com/ZenithwebClasse.svc/" />-->
   <!--  <add key="URL" value="http://localhost:22248/TontinewebClasse.svc/" />-->   
   <!--<add key="URL" value="http://51.210.111.16:7407/TontinewebClasse.svc/" />--> 

    <!--<add key="URL" value="http://51.210.111.16:7405/TontinewebClasse.svc/" />--> 
     <!--<add key="URL" value="http://localhost:7400/TontinewebClasse.svc/" />  --> 

	  <add key="URL" value="https://51.210.111.16:691/ZenithwebClasse.svc/"/>
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="App_Data\Logs\TraceLog.%property{log4net:HostName}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>